<div class="breadcrumb">
	<h6>Example title page or post</h6>
	<nav>
		<li><a href="#">Home</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li><a href="#">Library</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li><a href="#">Data</a></li>
		<li><i class="fa fa-angle-right"></i></li>
		<li>Bootstrap</li>
	</nav>
</div>