<footer>
	<div class="col-xs-12 footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4 brand-info">
					<div class="logofooter">
						<span><img src="/img/bootstrap-solid.svg" alt="Logo"></span>
						<span>Blog <code>{ Orsi }</code></span>
					</div>
					<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
					when an unknown printer took a galley.</p>
					<ul>
						<li>
							<span><i class="ion-ios-location-outline"></i></span>
							<span>New Delhi - 110085, INDIA</span>
						</li>
						<li>
							<span><i class="ion-ios-telephone-outline"></i></span>
							<span>Phone (India) : +91 9999 878 398</span>
						</li>
						<li>
							<span><i class="ion-ios-email-outline"></i></span>
							<span>E-mail : info@webenlance.com</span>
						</li>
					</ul>
				</div>
				<div class="col-md-4 latest-post">
					<h6>Latest post</h6>
					<ul>
						<li><a href="#" title="">
							<p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
						</a></li>
						<li><a href="#" title="">
							<p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
						</a></li>
						<li><a href="#" title="">
							<p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
						</a></li>
					</ul>
				</div>
				<div class="col-md-4 general-links">
					<h6>General links</h6>
					<ul>
						<li><a href="#"> Career</a></li>
						<li><a href="#"> Privacy Policy</a></li>
						<li><a href="#"> Terms & Conditions</a></li>
						<li><a href="#"> Client Gateway</a></li>
						<li><a href="#"> Ranking</a></li>
						<li><a href="#"> Case Studies</a></li>
						<li><a href="#"> Frequently Ask Questions</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 copyright">
		<p>© 2017 - All Rights with Bootstrap templates</p>
	</div>
</footer>