<header>
	<nav class="navbar navbar-toggleable-md header fixed-top">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- Image and text -->
			<nav class="navbar navbar-light brand">
				<a class="navbar-brand" href="/">
					<img src="/img/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
					Bootstrap
				</a>
			</nav>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<form class="form-inline ml-auto">
					<input class="form-control mr-sm-2" type="text" placeholder="Search" autofocus>
				</form>
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Category
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item color-primary" href="#">Category 1</a>
							<a class="dropdown-item color-success" href="#">Category 2</a>
							<a class="dropdown-item color-info" href="#">Category 3</a>
							<a class="dropdown-item color-warning" href="#">Category 4</a>
							<a class="dropdown-item color-danger" href="#">Category 5</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Pages
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/category">Category</a>
							<a class="dropdown-item" href="/single_page">Single page</a>
						</div>
					</li>
					<li class="nav-item">
						<a href="/contacts" title="Signin" class="btn btn-outline-primary">Contacts</a>
					</li>
					<li class="nav-item">
						<a href="signin" title="Signin" class="btn btn-primary">Signin</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header><!-- /header -->