<div class="col-lg-4 sidebar">
	<div class="card share">
		<div class="card-header">
			Share template
		</div>
		<div class="card-block">
			<ul class="social-links">
				<li><a href="#" title="facebook" target="_blank">
						<i class="ion-social-facebook"></i>
				</a></li>
				<li><a href="#" title="google-plus">
						<i class="ion-social-googleplus"></i>
				</a></li>
				<li><a href="#" title="twitter" target="_blank">
						<i class="ion-social-twitter"></i>
				</a></li>
			</ul>
		</div>
	</div>
	<div class="card sidebar-posts">
		<div class="card-header">
			Quote
		</div>
		<div class="card-block">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" href="#most" role="tab" data-toggle="tab">Most view</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#recent" role="tab" data-toggle="tab">Recent posts</a>
				</li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active show" id="most">
					<ul>
						<% include _post_item_small %>
						<% include _post_item_small %>
						<% include _post_item_small %>
						<% include _post_item_small %>
					</ul>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="recent">
					<ul>
						<% include _post_item_small %>
						<% include _post_item_small %>
						<% include _post_item_small %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="card card-inverse card-primary text-center subscribe">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
		<footer>
			<small>
			Someone famous in <cite title="Source Title">Source Title</cite>
			</small>
			<form action="/" method="get" accept-charset="utf-8">
				<input type="email" name="" value="" placeholder="email">
				<i class="ion-ios-email-outline"></i>
				<button type="submit" class="btn-inverse">Submit</button>
			</form>
		</footer>
	</div>
</div>