<div class="card card-primary text-center col-md-12 subscribe-form">
	<div class="card-block">
		<blockquote class="card-blockquote">
			<h3>Subscribe</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
		</blockquote>
		<form action="/" method="get" accept-charset="utf-8">
			<input type="email" name="" value="" placeholder="email">
			<i class="ion-ios-email-outline"></i>
			<button type="submit" class="btn-outline-inverse">Submit</button>
		</form>
	</div>
</div>