.contacts {
	padding-top: 10px;
	padding-bottom: 50px;
	.blog-admin {
		.card-block {
			overflow: hidden;
			img {
				width: 100%;
				height: auto;
				margin-bottom: 30px;
			}
		}
		.card-footer {
			background-color: #fff;
		}
	}
	.contacts-form {
		margin-top: 20px;
		form {
			text-align: left;
			padding: 0px 20px;
			label {
				display: block;
				span {
					display: block;
					vertical-align: middle;
				}
				input, textarea {
					border-radius: 4px;
					border: 1px solid #ddd;
					width: 100%;
					margin: 10px 0px;
					padding: 6px 12px; 
				}
				textarea:focus {
					border-radius: 4px;
					border: 1px solid #0275d8;
				}
			}
		}
	}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.contacts {
		padding-top: 50px;
		.contacts-form {
			margin-top: 0px;
		}
		.social-links li {
			margin-bottom: 5px;
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.contacts {
		.contacts-form {
			form {
				padding: 0px 80px;
			}
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
		
}