<section>
	<% include components/_breadcrumb %>
	<div class="page-404 container text-center">
		<h1>404</h1>
		<p>Ooops, Something Goes Wrong</p>
		<p class="tell-me">Tell me what you were looking for</p>
		<ul class="social-links">
			<li><a href="#" title="facebook" target="_blank">
				<i class="ion-social-facebook"></i>
			</a></li>
			<li><a href="#" title="google-plus">
				<i class="ion-social-googleplus"></i>
			</a></li>
			<li><a href="#" title="twitter" target="_blank">
				<i class="ion-social-twitter"></i>
			</a></li>
		</ul>
	</div>
</section>