<section>
	<% include components/_breadcrumb %>
	<div class="category container">
		<div class="row">
			<div class="col-lg-8 category-list">
				<% include components/_card_img_all %>
				<div class="card card-inverse" style="background-color: #333; border-color: #333;">
					<div class="card-block">
						<h3 class="card-title">Special title treatment</h3>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
				<% include components/_card_img_all %>
				<nav>
					<ul class="pagination justify-content-end">
						<li class="page-item disabled">
							<a class="page-link" href="#" tabindex="-1">Previous</a>
						</li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item active">
						<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
					</li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item">
							<a class="page-link" href="#">Next</a>
						</li>
					</ul>
				</nav>
			</div>
			<% include components/_sidebar %>
		</div>
	</div>
</section>