<section>
	<% include components/_breadcrumb %>
	<div class="container-fluid feedback">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Feedback contacts form</div>
					<div class="card-block">
						<p>Hi <code>{ name of contacts form }</code>, your letter has been received and will be viewed in the near future, If my letter for a long time no, check the spam folder.</p>
						<p>In general, I'm constantly in touch here:</p>
						<ul class="social-links">
							<li><a href="#" title="facebook" target="_blank">
									<i class="ion-social-facebook"></i>
							</a></li>
							<li><a href="#" title="google-plus">
									<i class="ion-social-googleplus"></i>
							</a></li>
							<li><a href="#" title="twitter" target="_blank">
									<i class="ion-social-twitter"></i>
							</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Feedback subscribe form</div>
					<div class="card-block">
						<p>An email <code>{ email of subscribe form }</code> has been sent to confirm the subscription, please activate the subscription. If there is no email for a long time, check the spam folder.</p>
						<p>Also news can be received in social networks. Follow me.</p>
						<ul class="social-links">
							<li><a href="#" title="facebook" target="_blank">
									<i class="ion-social-facebook"></i>
							</a></li>
							<li><a href="#" title="google-plus">
									<i class="ion-social-googleplus"></i>
							</a></li>
							<li><a href="#" title="twitter" target="_blank">
									<i class="ion-social-twitter"></i>
							</a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>