<section>
	<% include components/_breadcrumb %>
	<div class="container signin">
		<div class="row">
			<div class="col-md-6 sign-up">
				<div class="card">
					<div class="card-header">Sign up form</div>
					<div class="card-block">
						<ul class="social-links">
							<li><a href="#" title="facebook" target="_blank">
									<i class="ion-social-facebook"></i>
							</a></li>
							<li><a href="#" title="google-plus">
									<i class="ion-social-googleplus"></i>
							</a></li>
							<li><a href="#" title="twitter" target="_blank">
									<i class="ion-social-twitter"></i>
							</a></li>
						</ul>
						<p>or</p>
						<form action="/" method="post">
							<label>
								<span>Login:</span>
								<span><input type="text" name="name" placeholder="name" required></span>
							</label>

							<label>
								<span>Email:</span>
								<span><input type="email" name="email" placeholder="@email" required></span>
							</label>

							<label>
								<span>Password:</span>
								<span><input type="password" name="password" value="" placeholder="password" required></span>
							</label>

							<button type="submit" class="btn btn-primary">Sign up</button>
						</form>
						<div class="more-links">
							<a href="#" title="Sign in">Sign in</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 sign-in">
				<div class="card">
					<div class="card-header">Sign in form</div>
					<div class="card-block">
						<ul class="social-links">
							<li><a href="#" title="facebook" target="_blank">
								<i class="ion-social-facebook"></i>
							</a></li>
							<li><a href="#" title="google-plus">
									<i class="ion-social-googleplus"></i>
							</a></li>
							<li><a href="#" title="twitter" target="_blank">
									<i class="ion-social-twitter"></i>
							</a></li>
						</ul>
						<p>or</p>
						<form action="/" method="post">
							<label>
								<span>Login:</span>
								<span><input type="text" name="name" placeholder="name" required></span>
							</label>

							<label>
								<span>Password:</span>
								<span><input type="password" name="password" value="" placeholder="password" required></span>
							</label>

							<button type="submit" class="btn btn-primary">Sign in</button>
						</form>
						<div class="more-links">
							<a href="#" title="Registration">Registration</a>
							<a href="#" title="Forgot your password?">Forgot your password?</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>