.breadcrumb {
	padding: 10px 120px;
	padding-top: 14px;
	margin-top: 10px;
	font-size: 13px;
	width: 100%;
	h6 {
		float: left;
	}
	nav {
		padding: 0px;
		float: right;
		li {
			display: inline-block;
			margin-left: 2px;
			margin-right: 2px;
		}
	}
}