.color-primary {
	color: #0275d8;
}
.color-success {
	color: #5cb85c;
}
.color-info {
	color: #5bc0de;
}
.color-warning {
	color: #f0ad4e;
}
.color-danger {
	color: #d9534f;
}
body {
	padding-top: 60px;
}
button:hover {
	cursor: pointer;
}

.card-header {
	color: #777;
	font-size: 14px;
}
a:hover, button:hover {
	cursor: pointer;
}
.social-links {
	padding: 0px;
	margin-bottom: 0px;
	li {
		list-style: none;
		display: inline-block;
		vertical-align: middle;
		a {
			padding: 8px;
			border-radius: 4px;
			background-color: #f5f5f5;
			width: 40px;
			height: 40px;
			text-align: center;
			display: block;
			margin-right: 3px;
		}
	}
}