<section>
	<% include components/_breadcrumb %>
	<div class="page-404 container text-center">
		<h1>404</h1>
		<p>Ooops, Something Goes Wrong</p>
		<p class="tell-me">Tell me what you were looking for</p>
		<ul class="social-links">
			<li><a href="https://www.facebook.com/volitilov" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" title="google-plus"><i class="fa fa-google-plus"></i></a></li>
			<li><a href="https://twitter.com/_volitilov_?lang=ru" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="https://ok.ru/profile/567774078600" title="odnoklassniki" target="_blank"><i class="fa fa-odnoklassniki"></i></a></li>
			<li><a href="https://vk.com/volitilov" title="vk" target="_blank"><i class="fa fa-vk"></i></a></li>
		</ul>
	</div>
</section>