<section>
	<% include components/_breadcrumb %>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="card">
					<img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22769%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20769%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15d13440c38%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A38pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15d13440c38%22%3E%3Crect%20width%3D%22769%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22265.4296875%22%20y%3D%22107.1%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
					<div class="card-block">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<p>Recipe: Crunchy Chicken Salad
						Serves 4

						You’ll need:

						3 cups shredded Chinese cabbage
						3 cups shredded red cabbage
						1 cup shredded carrots (lengthwise to get soft curls)
						1 cup unsalted cashews
						1/4 cup chopped chives (try cutting with scissors)
						1 cup roughly chopped mint leaves
						1 cup torn cilantro leaves
						4 small red thai chilies, seeds removed and finely sliced (optional if you don’t like spice)
						4 fully cooked chicken breasts, cut into slices

						For the coconut lime dressing:

						1 cup of coconut milk
						2 tbsp of fish sauce
						4 tbsp of lime juice
						2 tbsp of coconut sugar

						Combine cabbage, carrot, cashews, chives, mint, cilantro and chicken in a large bowl and toss gently to combine.
						In a measuring cup, combine coconut milk, fish sauce, lime juice and sugar. Stir well to combine. Pour half the dressing over the salad and gently toss. Divide between plates and top with chilies. Add more dressing to taste.

						I like to make a lot of dressing and keep some in fridge to dip veggies in or pour over rice, but you can half the dressing recipe if you want to. Beware of the chilies, as they are very spicy. After slicing them, wash your hands very well and don’t touch your eyes or nose. If you prefer a little less spice, sprinkle the finished salad with dried chili flakes instead.</p>
						<p>Recipe: Crunchy Chicken Salad
						Serves 4

						You’ll need:

						3 cups shredded Chinese cabbage
						3 cups shredded red cabbage
						1 cup shredded carrots (lengthwise to get soft curls)
						1 cup unsalted cashews
						1/4 cup chopped chives (try cutting with scissors)
						1 cup roughly chopped mint leaves
						1 cup torn cilantro leaves
						4 small red thai chilies, seeds removed and finely sliced (optional if you don’t like spice)
						4 fully cooked chicken breasts, cut into slices

						For the coconut lime dressing:

						1 cup of coconut milk
						2 tbsp of fish sauce
						4 tbsp of lime juice
						2 tbsp of coconut sugar

						Combine cabbage, carrot, cashews, chives, mint, cilantro and chicken in a large bowl and toss gently to combine.
						In a measuring cup, combine coconut milk, fish sauce, lime juice and sugar. Stir well to combine. Pour half the dressing over the salad and gently toss. Divide between plates and top with chilies. Add more dressing to taste.

						I like to make a lot of dressing and keep some in fridge to dip veggies in or pour over rice, but you can half the dressing recipe if you want to. Beware of the chilies, as they are very spicy. After slicing them, wash your hands very well and don’t touch your eyes or nose. If you prefer a little less spice, sprinkle the finished salad with dried chili flakes instead.</p>
					</div>
				</div>
				<div class="col-xs-12 tags">
					<span>Tags:</span>
					<span><ul>
						<li><button type="button" class="btn btn-outline-primary btn-sm">Primary</button></li>
						<li><button type="button" class="btn btn-outline-secondary btn-sm">Secondary</button></li>
						<li><button type="button" class="btn btn-outline-success btn-sm">Success</button></li>
						<li><button type="button" class="btn btn-outline-info btn-sm">Info</button></li>
						<li><button type="button" class="btn btn-outline-warning btn-sm">Warning</button></li>
						<li><button type="button" class="btn btn-outline-danger btn-sm">Danger</button></li>
					</ul></span>
				</div>
				<div class="bg-inherit clearfix">
					<button class="btn btn-secondary float-left">Example Button floated left</button>
					<button class="btn btn-secondary float-right">Example Button floated right</button>
				</div>
			</div>
			<% include components/_sidebar %>
			<div class="col-xs-12">
				<div class="card-deck">
					<div class="card">
						<img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22235%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20235%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15d1357e044%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15d1357e044%22%3E%3Crect%20width%3D%22235%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2285.7578125%22%20y%3D%2295.1%22%3E235x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
						<div class="card-block">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						</div>
						<div class="card-footer">
							<small class="text-muted">Last updated 3 mins ago</small>
						</div>
					</div>
					<div class="card">
						<img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22235%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20235%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15d1357e044%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15d1357e044%22%3E%3Crect%20width%3D%22235%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2285.7578125%22%20y%3D%2295.1%22%3E235x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
						<div class="card-block">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
						</div>
						<div class="card-footer">
							<small class="text-muted">Last updated 3 mins ago</small>
						</div>
					</div>
					<div class="card">
						<img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22235%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20235%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15d1357e044%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15d1357e044%22%3E%3Crect%20width%3D%22235%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2285.7578125%22%20y%3D%2295.1%22%3E235x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
						<div class="card-block">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
						</div>
						<div class="card-footer">
							<small class="text-muted">Last updated 3 mins ago</small>
						</div>
					</div>
					<div class="card">
						<img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22235%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20235%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15d1357e044%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15d1357e044%22%3E%3Crect%20width%3D%22235%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2285.7578125%22%20y%3D%2295.1%22%3E235x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
						<div class="card-block">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
						</div>
						<div class="card-footer">
							<small class="text-muted">Last updated 3 mins ago</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>